<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.admin.EventMapper">
	<select id="event_num_seq" resultType="Long">
		SELECT event_num_seq.NEXTVAL FROM dual
	</select>
	
	<!-- 이벤트 등록  -->
	<insert id="insertEvent" parameterType="map">
		  INSERT INTO EVENT(event_num, event_title, event_content, start_date, 
			end_date, is_active, created_date, update_date, ev_hitcount)
		VALUES(#{event_num}, #{event_title}, #{event_content}, TO_DATE(#{start_date}, 'yyyy-mm-dd'), TO_DATE(#{end_date}, 'yyyy-mm-dd'), 0, SYSDATE, SYSDATE, 0)
	</insert>
	
	<!-- 이벤트 등록 파일 -->
	<insert id="insertEventFile" parameterType="com.hs.model.admin.EventDTO">
		INSERT INTO EVENT_FILEAT(file_at_id, event_num, file_name, file_path, file_size)
			VALUES(ev_fileat_seq.NEXTVAL, #{event_num}, #{file_name}, #{file_path}, #{file_size})
	</insert>
	
	<!-- 검색 조건 -->
	<sql id="search-list">
		<if test="schType == 'all' ">
			(INSTR(event_title, #{kwd}) &gt; 0 
				OR DBMS_LOB.INSTR(event_content, #{kwd}) &gt; 0)
		</if>
		<if test="schType == 'event_title' ">
			INSTR(event_title, #{kwd}) &gt; 0
		</if>
		<if test="schType == 'event_content' ">
			DBMS_LOB.INSTR(event_content, #{kwd}) &gt; 0
		</if>
		<if test="schType == 'start_date' ">
			(TO_CHAR(start_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(start_date, 'YYYYMMDD') = #{kwd})
		</if>

	</sql>
	
	<!-- 이벤트 리스트 맨윗줄 출력(진행) -->
		<select id="listEventTop" resultType="com.hs.model.admin.EventDTO">
		SELECT e.user_num, e.event_num, event_title, event_content, 
			TO_CHAR(start_date, 'YYYY-MM-DD') start_date, 
			TO_CHAR(end_date, 'YYYY-MM-DD') end_date,
				CASE
		    		WHEN SYSDATE &gt; start_date AND SYSDATE &lt;= end_date THEN '진행'
		            WHEN is_active = 2 OR (SYSDATE >= end_date) THEN '종료'
		            ELSE '진행예정'
		            END AS active_status, is_active, created_date, update_date, ev_hitcount, NVL(fileCount, 0) fileCount
		       FROM EVENT e
		       JOIN MEMBER m ON e.user_num = m.user_num
		          LEFT OUTER JOIN (
		          SELECT event_num, COUNT(*) fileCount 
		          FROM EVENT_FILEAT ef
		          GROUP BY event_num
		       ) ef ON e.event_num = ef.event_num
				WHERE is_active = 1 OR (start_date &lt;= SYSDATE AND end_date &gt;= SYSDATE)
				ORDER BY start_date, event_num DESC
	</select>
	
	<!-- 데이터 개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
    	FROM EVENT e
    	JOIN MEMBER m ON e.user_num = m.user_num
		<where>
			<if test="is_active != null">
				is_active = #{is_active}
			</if>		
			<if test="kwd != null and kwd != ''  ">
				AND <include refid="search-list"/>
			</if>
			<if test="status == '진행'">
			    AND SYSDATE &gt; start_date
			    AND SYSDATE &lt;= end_date
			</if>
			
			<if test="status == '종료'">
			    AND (is_active = 2 OR SYSDATE &gt;= end_date)
			</if>
			
			<if test="status == '진행예정'">
			    AND SYSDATE &lt; start_date
			</if>
		</where>
	</select>
	
	
	<!-- 이벤트 리스트 출력 -->
	<select id="listEvent" parameterType="map" resultType="com.hs.model.admin.EventDTO">
	    SELECT e.user_num, e.event_num, event_title, event_content, 
	    	TO_CHAR(start_date, 'YYYY-MM-DD') start_date, 
	    	TO_CHAR(end_date, 'YYYY-MM-DD') end_date,
                CASE
                    WHEN SYSDATE &gt; start_date AND SYSDATE &lt;= end_date THEN '진행'
                    WHEN is_active = 2 OR (SYSDATE >= end_date) THEN '종료'
                ELSE '진행예정'
                END AS active_status,
                is_active, created_date, update_date, ev_hitcount, NVL(fileCount, 0) fileCount
    	FROM EVENT e
    	JOIN MEMBER m ON e.user_num = m.user_num
       	LEFT OUTER JOIN (
    		SELECT event_num, COUNT(*) fileCount 
    		FROM EVENT_FILEAT ef
    		GROUP BY event_num
    	) ef ON e.event_num = ef.event_num
    	<where>
    		<if test="is_active != null">
    			is_active = #{is_active}
    		</if>
    		<if test="kwd != null and kwd != ''">
    			AND <include refid="search-list"/>
    		</if>
    		<!--  
			<if test="status == '진행'">
			    AND SYSDATE &gt; start_date
			    AND SYSDATE &lt;= end_date
			</if>
			
			<if test="status == '종료'">
			    AND (is_active = 2 OR SYSDATE &gt;= end_date)
			</if>
			
			<if test="status == '진행예정'">
			    AND SYSDATE &lt; start_date
			</if> -->
    	</where>
    	ORDER BY update_date DESC, event_num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 글보기 -->
	<select id="findById" parameterType="Long" resultType="com.hs.model.admin.EventDTO">
		SELECT event_num, e.user_num, event_title, event_content, 
			TO_CHAR(start_date, 'YYYY-MM-DD') start_date, 
			TO_CHAR(end_date, 'YYYY-MM-DD') end_date, 
			TO_CHAR(created_date, 'YYYY-MM-DD') created_date, ev_hitcount
		FROM event e
		JOIN member m ON e.user_num = m.user_num
		WHERE event_num = #{event_num}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Long">
		UPDATE EVENT SET ev_hitcount = ev_hitcount + 1
		WHERE event_num = #{event_num}
	</update>
	
	<!-- 이벤트 삭제 -->
	<delete id="deleteEvent" parameterType="Long">
		DELETE FROM event
		WHERE event_num = #{event_num}
	</delete>
	
	<!-- 이벤트 여러개 삭제 -->
	<delete id="deleteListEvent" parameterType="java.util.List">
		DELETE FROM event
		WHERE event_num IN 
		<foreach collection="list" item="event_num" index="index"
			open="(" separator="," close=")">
			#{event_num}
		</foreach>
	</delete>
	
	<!-- 이벤트 수정 -->
	<update id="updateEvent" parameterType="com.hs.model.admin.EventDTO">
		    UPDATE event SET event_num = #{event_num}, event_title = #{event_title}, event_content = #{event_content}, 
		    	start_date = #{start_date}, end_date = #{end_date}, is_active = #{is_active}, 
		    	update_date = SYSDATE
    		WHERE event_num = #{event_num}
	</update>
	
</mapper>