<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.admin.NoticeMapper">
	<select id="noticeSeq" resultType="Long">
		SELECT notice_seq.NEXTVAL FROM dual
	</select>
	<sql id="where-list">
		<if test="schType == 'all' ">
			( INSTR(noti_title, #{kwd}) &gt; 0
				OR DBMS_LOB.INSTR(noti_content, #{kwd}) &gt; 0 )
		</if>
		<if test="schType == 'subject' ">
			INSTR(noti_title, #{kwd}) &gt; 0
		</if>
		<if test="schType == 'content' ">
			DBMS_LOB.INSTR(noti_content, #{kwd}) &gt; 0 
		</if>
		<if test="schType == 'userName' ">
			INSTR(user_nickname, #{kwd}) &gt; 0
		</if>
		<if test="schType == 'reg_date' ">
			(( TO_CHAR(noti_reg_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(noti_reg_date, 'YYYYMMDD') = #{kwd} ) OR
			( TO_CHAR(update_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(update_date, 'YYYYMMDD') = #{kwd} ))
		</if>
	</sql>
	
	<select id="noticeList" resultType="com.hs.model.admin.NoticeDTO">
		SELECT noti.notice_num notice_num,
				noti.state state,
				noti.noti_title noti_title,
				memb.USER_NICKNAME user_nickname,
				TO_CHAR(noti.noti_reg_date, 'YYYY-MM-DD') noti_reg_date,
				noti.noti_hitcount noti_hitcount
		FROM NOTICE noti, member memb
		<where>
			<if test="is_notice != null and is_notice != ''  ">
				is_notice = #{is_notice}
			</if>
			<if test="state != null and state != '' and state != 'null'">
				AND noti.state = #{state}
			</if>		
			<if test="kwd != null and kwd != ''">
				AND <include refid="where-list"/>
			</if>
			AND noti.USER_NUM = memb.USER_NUM
		</where>
        ORDER BY noti.noti_reg_date DESC, noti.notice_num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="noticeListTop" resultType="com.hs.model.admin.NoticeDTO">
		SELECT noti.notice_num notice_num,
				noti.state state,
				noti.noti_title noti_title,
				memb.USER_NICKNAME user_nickname,
				TO_CHAR(noti.noti_reg_date, 'YYYY-MM-DD') noti_reg_date,
				noti.noti_hitcount noti_hitcount
		FROM NOTICE noti, member memb
		WHERE noti.USER_NUM = memb.USER_NUM
        AND noti.state = '공개' AND noti.is_notice = '1'
        ORDER BY noti.noti_reg_date DESC, noti.notice_num DESC
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notice noti
		JOIN member memb ON noti.user_num = memb.user_num
		<where>
			<if test="is_notice != null and is_notice != ''  ">
				is_notice = #{is_notice}
			</if>		
			<if test="kwd != null and kwd != ''  ">
				AND <include refid="where-list"/>
			</if>
			<if test="state != null and state != '' and state != 'null'">
				AND noti.state = #{state}
			</if>	
		</where>
	</select>
	
	<delete id="noticeDelete" parameterType="Long">
		DELETE FROM notice
		WHERE notice_num = #{notice_num}
	</delete>
	
	<delete id="noticeDeleteList" parameterType="java.util.List">
		DELETE FROM notice
		WHERE notice_num IN
		<foreach collection="list" item="num" index="index"
			open="(" separator="," close=")">
			#{num}
		</foreach>
	</delete>
	
	<select id="findById" parameterType="Long" resultType="com.hs.model.admin.NoticeDTO">
	SELECT notice_num,
		 	noti.user_num user_num,
		 	memb.user_Id user_Id,
		 	memb.user_nickname user_nickname,
		 	noti_title,
		 	noti_content,
		 	noti_reg_date,
		 	update_date,
			noti_hitCount,
			is_notice,
			memb.user_updated_date user_updated_date
	FROM notice noti, member memb
	WHERE noti.user_num = memb.user_num
	AND notice_num = #{num}
	</select>
	
	<insert id="noticeInsert" parameterType="com.hs.model.admin.NoticeDTO">
		INSERT INTO notice
		(
		    notice_num,
		    noti_title,
		    noti_content,
		    noti_hitcount,
		    noti_reg_date,
		    update_date,
		    state,
		    is_notice,
		    user_num
		)
		VALUES
		(
	       #{notice_num},
	       #{noti_title},
	       #{noti_content},
	       0,
	       SYSDATE,
	       SYSDATE,
	       #{state},
	       #{is_notice},
	       #{user_num}
		)
	</insert>
	
	<insert id="insertNoticeFile" parameterType="com.hs.model.admin.NoticeDTO">
		INSERT INTO noticeFile(fileNum, num, saveFilename, originalFilename, fileSize)
		VALUES (noticeFile_seq.NEXTVAL, #{notice_num}, #{saveFilename},
			#{originalFilename}, #{fileSize})
	</insert>
	
	<select id="findByFileId" parameterType="Long" resultType="com.hs.model.admin.NoticeDTO">
		SELECT fileNum, num, saveFilename, originalFilename, fileSize
		FROM noticeFile
	    WHERE fileNum = #{fileNum}
	</select>
	
	<select id="listNoticeFile" parameterType="Long" resultType="com.hs.model.admin.NoticeDTO">
		SELECT fileNum, num, saveFilename, originalFilename, fileSize
		FROM noticeFile
		WHERE num = #{num}    
	</select>
	
	<delete id="deleteNoticeFile" parameterType="map">
		DELETE FROM noticeFile
		WHERE ${field} = #{num}
	</delete>
	
	<update id="updateHitCount" parameterType="Long">
		UPDATE notice SET noti_hitCount = noti_hitCount + 1
		WHERE notice_num = #{num}
	</update>
	
	<select id="findByPrev" parameterType="map" resultType="com.hs.model.admin.NoticeDTO">
		SELECT notice_num, noti_title
		FROM notice n
		JOIN member m ON n.user_num = m.user_num
		<where>
			<if test="state != null and state != '' and state != 'null'">
				AND noti.state = #{state}
			</if>		
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (update_date &gt; TO_DATE(#{update_date}, 'YYYY-MM-DD HH24:MI:SS'))
		</where>
		ORDER BY update_date ASC, notice_num ASC
		FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 다음글 -->
    <select id="findByNext" parameterType="map" resultType="com.hs.model.admin.NoticeDTO">
		SELECT notice_num, noti_title
		FROM notice n
		JOIN member m ON n.user_num = m.user_num
		<where>
			<if test="state != null and state != '' and state != 'null'">
				AND noti.state = #{state}
			</if>		
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (update_date &lt; TO_DATE(#{update_date}, 'YYYY-MM-DD HH24:MI:SS'))
		</where>
		ORDER BY update_date DESC, notice_num DESC
		FETCH FIRST 1 ROWS ONLY
    </select>
    
    <update id="updateNotice" parameterType="com.hs.model.admin.NoticeDTO">
		UPDATE notice SET noti_title = #{noti_title}, noti_content = #{noti_content}, 
			is_notice = #{is_notice}, state = #{state}, 
			update_date = SYSDATE
		WHERE notice_num = #{notice_num}
	</update>
</mapper>