<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.admin.EventMapper">
	<select id="event_num_seq" resultType="Long">
		SELECT event_num_seq.NEXTVAL FROM dual
	</select>
	
	<!-- 이벤트 등록  -->
	<insert id="insertEvent" parameterType="map">
		  INSERT INTO EVENT(user_num, event_num, event_title, event_content, start_date, 
			end_date, is_active, created_date, update_date, ev_hitcount)
		VALUES(#{user_num}, #{event_num}, #{event_title}, #{event_content}, TO_DATE(#{start_date}, 'yyyy-mm-dd'), TO_DATE(#{end_date}, 'yyyy-mm-dd'), 0, SYSDATE, SYSDATE, 0)
	</insert>
	
	<!-- 이벤트 수정 -->
	<update id="updateEvent" parameterType="com.hs.model.admin.EventDTO">
		    UPDATE event SET event_title = #{event_title}, event_content = #{event_content}, 
		    	start_date = #{start_date}, end_date = #{end_date}, is_active = #{is_active}, 
		    	update_date = SYSDATE
    		WHERE event_num = #{event_num}
	</update>
	
	<!-- 이벤트 삭제 -->
	<delete id="deleteEvent" parameterType="Long">
		DELETE FROM event
		WHERE event_num = #{event_num}
	</delete>
	
	<!-- 이벤트 여러개 삭제 -->
	<delete id="deleteListEvent" parameterType="java.util.List">
		DELETE FROM event
		WHERE event_num IN 
		<foreach collection="list" item="event_num" index="index"
			open="(" separator="," close=")">
			#{event_num}
		</foreach>
	</delete>
	
	<!-- 데이터 개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
    	FROM EVENT e
    	JOIN MEMBER m ON e.user_num = m.user_num
		<where>
			<if test="showEvent != null">
				showEvent = #{showEvent}
			</if>		
			<if test="kwd != null and kwd != ''  ">
				AND <include refid="search-list"/>
			</if>
			<if test="status == '진행'">
			    AND SYSDATE &gt;= start_date
			    AND SYSDATE &lt;= end_date
			</if>
			
			<if test="status == '종료'">
			    AND (is_active = 2 OR SYSDATE &gt;= end_date)
			</if>
			
			<if test="status == '진행예정'">
			    AND SYSDATE &lt; start_date
			</if>
		</where>
	</select>
	
	<!-- 이벤트 리스트 맨윗줄 출력(진행) -->
		<select id="listEventTop" resultType="com.hs.model.admin.EventDTO">
		SELECT e.user_num, e.event_num, event_title, event_content, 
			TO_CHAR(start_date, 'YYYY-MM-DD') start_date, 
			TO_CHAR(end_date, 'YYYY-MM-DD') end_date,
				CASE
		    		WHEN SYSDATE &gt; start_date AND SYSDATE &lt;= end_date THEN '진행'
		            WHEN is_active = 2 OR (SYSDATE >= end_date) THEN '종료'
		            ELSE '진행예정'
		            END AS active_status, is_active, created_date, update_date, ev_hitcount, NVL(fileCount, 0) fileCount
		       FROM EVENT e
		       JOIN MEMBER m ON e.user_num = m.user_num
		          LEFT OUTER JOIN (
		          SELECT event_num, COUNT(*) fileCount 
		          FROM EVENT_FILEAT ef
		          GROUP BY event_num
		       ) ef ON e.event_num = ef.event_num
				WHERE is_active = 1 OR (start_date &lt;= SYSDATE AND end_date &gt;= SYSDATE)
				ORDER BY start_date, event_num DESC
	</select>
	
	<!-- 이벤트 리스트 출력 -->
	<select id="listEvent" parameterType="map" resultType="com.hs.model.admin.EventDTO">
	    SELECT e.user_num, e.event_num, event_title, event_content, 
	    	TO_CHAR(start_date, 'YYYY-MM-DD') start_date, 
	    	TO_CHAR(end_date, 'YYYY-MM-DD') end_date,
                CASE
                    WHEN SYSDATE &gt; start_date AND SYSDATE &lt;= end_date THEN '진행'
                    WHEN is_active = 2 OR (SYSDATE >= end_date) THEN '종료'
                ELSE '진행예정'
                END AS active_status,
                is_active, created_date, update_date, ev_hitcount, NVL(fileCount, 0) fileCount
    	FROM EVENT e
    	JOIN MEMBER m ON e.user_num = m.user_num
       	LEFT OUTER JOIN (
    		SELECT event_num, COUNT(*) fileCount 
    		FROM EVENT_FILEAT ef
    		GROUP BY event_num
    	) ef ON e.event_num = ef.event_num
    	<where>
    		<if test="showEvent != null">
    			showEvent = #{showEvent}
    		</if>
    		<if test="kwd != null and kwd != ''">
    			AND <include refid="search-list"/>
    		</if>
  
			<if test="status == '진행'">
			    AND SYSDATE &gt;= start_date
			    AND SYSDATE &lt;= end_date
			</if>
			
			<if test="status == '종료'">
			    AND (is_active = 2 OR SYSDATE &gt;= end_date)
			</if>
			
			<if test="status == '진행예정'">
			    AND SYSDATE &lt; start_date
			</if> 
    	</where>
    	ORDER BY update_date DESC, event_num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	<select id="findById" parameterType="Long" resultType="com.hs.model.admin.EventDTO">
		SELECT event_num, e.user_num, event_title, event_content, 
			TO_CHAR(start_date, 'YYYY-MM-DD') start_date, 
			TO_CHAR(end_date, 'YYYY-MM-DD') end_date, 
			TO_CHAR(created_date, 'YYYY-MM-DD') created_date, 
			TO_CHAR(update_date, 'YYYY-MM-DD') update_date,
			ev_hitcount
		FROM event e
		JOIN member m ON e.user_num = m.user_num
		WHERE event_num = #{event_num}
	</select>
	
	<!-- 검색 조건 -->
	<sql id="search-list">
		<if test="schType == 'all' ">
			(INSTR(event_title, #{kwd}) &gt; 0 
				OR DBMS_LOB.INSTR(event_content, #{kwd}) &gt; 0)
		</if>
		<if test="schType == 'event_title' ">
			INSTR(event_title, #{kwd}) &gt; 0
		</if>
		<if test="schType == 'event_content' ">
			DBMS_LOB.INSTR(event_content, #{kwd}) &gt; 0
		</if>
		<if test="schType == 'start_date' ">
			(TO_CHAR(start_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(start_date, 'YYYYMMDD') = #{kwd})
		</if>
	</sql>

	<!-- 이전글 -->
	<select id="findByPrev" parameterType="map" resultType="com.hs.model.admin.EventDTO">
		SELECT e.user_num, e.event_num, event_title
		FROM event e
		JOIN member m ON e.user_num = m.user_num
		<where>
			<if test="showEvent != null">
				showEvent = #{showEvent}
			</if>
			<if test="kwd != null and kwd != '' ">
				AND <include refid="search-list"/>
			</if>
			AND (update_date &gt; TO_DATE(#{update_date}, 'YYYY-MM-DD HH24:MI:SS'))
		</where>
		ORDER BY update_date ASC, event_num ASC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 다음글 -->
	<select id="findByNext" parameterType="map" resultType="com.hs.model.admin.EventDTO">
		SELECT e.user_num, e.event_num, event_title
		FROM event e
		JOIN member m ON e.user_num = m.user_num
		<where>
			<if test="showEvent != null">
				showEvent = #{showEvent}
			</if>
			<if test="kwd != null and kwd != '' ">
				AND <include refid="search-list"/>
			</if>
			AND (update_date &lt; TO_DATE(#{update_date}, 'YYYY-MM-DD HH24:MI:SS'))
		</where>
		ORDER BY update_date DESC, event_num DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Long">
		UPDATE EVENT SET ev_hitcount = ev_hitcount + 1
		WHERE event_num = #{event_num}
	</update>	

	<!-- 이벤트 등록 파일 -->
	<insert id="insertEventFile" parameterType="com.hs.model.admin.EventDTO">
		INSERT INTO EVENT_FILEAT(file_at_id, event_num, file_name, file_path, file_size)
			VALUES(ev_fileat_seq.NEXTVAL, #{event_num}, #{file_name}, #{file_path}, #{file_size})
	</insert>
	
	<!-- 첨부파일 삭제 -->
	<delete id="deleteEventFile" parameterType="map">
		DELETE FROM EVENT_FILEAT
		WHERE ${field} = #{num}
	</delete>
	
	<!-- 이벤트 첨부파일 리스트 출력 -->
	<select id="listEventFile" parameterType="Long" resultType="com.hs.model.admin.EventDTO">
		SELECT file_at_id, event_num, file_name, file_path, file_size, file_type, file_order, uploaded_date
		FROM event_fileat
		WHERE event_num = #{event_num}
	</select>
	
	<!-- 첨부파일 검색 -->
	<select id="findByFileId" parameterType="Long" resultType="com.hs.model.admin.EventDTO">
		SELECT file_at_id, event_num, file_name, file_path, file_size
		FROM event_fileat
		WHERE file_at_id = #{file_at_id}
	</select>
	
	<!-- 1개 이상 삭제 시 첨부파일 -->
	<delete id="deletelistEventFile" parameterType="java.util.List">
		DELETE FROM EVENT_FILEAT
		WHERE event_num IN 
	    <foreach collection="list" item="event_num" open="(" separator="," close=")">
	        #{event_num}
	    </foreach>
	</delete>
	
  <!-- 좋아요 -->
	<!-- 좋아요 추가  -->
	<insert id="insertBoardLike" parameterType="map">
		INSERT INTO EVENT_LIKES(event_num, user_num, created_date) 
			VALUES(#{event_num}, #{user_num}, SYSDATE)
	</insert>
	
	<!-- 종아요 취소 -->
	<delete id="deleteBoardLike" parameterType="map">
		DELETE FROM EVENT_LIKES
		WHERE event_num = #{event_num} AND user_num = #{user_num}
	</delete>
	
	<delete id="deleteBoardLikeAll" parameterType="Long">
		DELETE FROM EVENT_LIKES
		WHERE event_num = #{event_num}
	</delete>
	
	<delete id="deleteBoardLikeList" parameterType="java.util.List">
		DELETE FROM EVENT_LIKES
		WHERE event_num IN
		<foreach collection="list" item="event_num" open="(" separator="," close=")">
        	#{event_num} 
    	</foreach>
	</delete>
		
	<!-- 좋아요 개수 -->
	<select id="boardLikeCount" parameterType="Long" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM EVENT_LIKES
		WHERE event_num = #{event_num}
	</select>
	
	<!-- 좋아요 여부 -->
	<select id="hasUserBoardLiked" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM EVENT_LIKES
		WHERE event_num = #{event_num} AND user_num = #{user_num}
	</select>
	
	
  <!-- 댓글 -->
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="com.hs.model.admin.EventReplyDTO">
		INSERT INTO EVENT_COMMENTS(comment_id, user_id, parent_comment_id, showReply, content, created_date, updated_date, event_num, user_num)
			VALUES(ev_comment_seq.NEXTVAL, #{user_id}, #{parent_comment_id}, 1, #{content}, SYSDATE, SYSDATE, #{event_num}, #{user_num})
	</insert>
	
	<!--  댓글 개수 -->
	<select id="replyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM EVENT_COMMENTS e
		JOIN member m ON e.user_id = m.user_id
		WHERE event_num = #{event_num} AND parent_comment_id = 0 AND block = 0
		<if test="userLevel lt 51">
			AND (showReply = 1 OR m.user_id = #{user_id})
		</if>
	</select>
	
	<!-- 댓글 리스트 -->
<select id="listReply" parameterType="map" resultType="com.hs.model.admin.EventReplyDTO">
    SELECT e.comment_id, e.user_id, m.user_nickname,
           content, e.created_date, showReply, e.event_num,
           NVL(a.answerCount, 0) answerCount,
           NVL(c.likeCount, 0) likeCount
    FROM EVENT_COMMENTS e
    JOIN member m ON e.user_id = m.user_id
    LEFT OUTER JOIN (
        SELECT parent_comment_id, COUNT(*) answerCount
        FROM EVENT_COMMENTS
        WHERE parent_comment_id != 0 AND block = 0
        <if test="userLevel lt 51">
        	AND (showReply = 1 OR user_id = #{user_id})
        </if>
        GROUP BY parent_comment_id
    ) a ON e.comment_id = a.parent_comment_id
    LEFT OUTER JOIN (
        SELECT comment_id, 
        	COUNT(DECODE(comment_like, 1, 1)) likeCount
        FROM EVENT_COMMENTS_LIKES
        GROUP BY comment_id
    ) c ON e.comment_id = c.comment_id
    WHERE e.event_num = #{event_num} AND e.parent_comment_id = 0
        <if test="userLevel lt 51">
        	AND (showReply = 1 OR m.user_id = #{user_id})
        </if>
    ORDER BY e.comment_id DESC
    OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="map">
		DELETE FROM EVENT_COMMENTS
		WHERE comment_id = #{comment_id}
		<if test="mode == 'relpt'">
			OR parent_comment_id = #{comment_id}
		</if>
	</delete>
	
	
	<!-- 대댓글 리스트 -->
	<select id="listReplyAnswer" parameterType="map" resultType="com.hs.model.admin.EventReplyDTO">
		SELECT comment_id, event_num, e.user_id, user_nickname, content, created_date, parent_comment_id, showReply
		FROM EVENT_COMMENTS e
		JOIN member m ON e.user_id = m.user_id
		WHERE parent_comment_id = #{parent_comment_id}
		<if test="userLevel lt 51">
			AND ( showReply = 1 OR e.user_id = #{user_id})
		
		</if>
	</select>

	
	<!-- 대댓글 개수 -->
	<select id="replyAnswerCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM EVENT_COMMENTS
		WHERE parent_comment_id = #{parent_comment_id} AND block = 0
		<if test="userLevel lt 51">
			AND (showReply = 1 OR user_id = #{user_id})
		</if>
	</select>

	
	<!-- 댓글 보임,숨김 -->
	<update id="updateReplyShowHide" parameterType="map">
		UPDATE EVENT_COMMENTS SET showReply = #{showReply}
		WHERE comment_id = #{comment_id} AND user_id = #{user_id}
	</update>
	
	<!-- 댓글 좋아요. 싫어요 추가 -->
	<insert id="insertReplyLike" parameterType="map">
		INSERT INTO EVENT_COMMENTS_LIKES (comment_id, user_num, comment_like, CREATED_DATE)
			VALUES(#{comment_id}, #{user_num}, #{comment_like}, SYSDATE)
	</insert>
	
	<!-- 좋아요 / 싫어요 개수 -->
	<select id="replyLikeCount" parameterType="map" resultType="map">
		SELECT COUNT(DECODE(comment_like, 1, 1)) likeCount
		FROM EVENT_COMMENTS_LIKES
		WHERE comment_id = #{comment_id}
	</select>
	
	<!-- 유저 좋아요/싫어요 여부 -->
	<select id="hasUserReplyLiked" parameterType="map" resultType="Integer">
		SELECT comment_like
		FROM EVENT_COMMENTS_LIKES
		WHERE comment_id = #{comment_id} AND user_num = #{user_num}
	</select>

</mapper>