<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.admin.NoticeMapper">
	<select id="noticeSeq" resultType="Long">
		SELECT notice_seq.NEXTVAL FROM dual
	</select>
	<sql id="where-list">
		<if test="schType == 'all' ">
			( INSTR(noti_title, #{kwd}) &gt; 0
				OR DBMS_LOB.INSTR(noti_content, #{kwd}) &gt; 0 )
		</if>
		<if test="schType == 'subject' ">
			INSTR(noti_title, #{kwd}) &gt; 0
		</if>
		<if test="schType == 'content' ">
			DBMS_LOB.INSTR(noti_content, #{kwd}) &gt; 0 
		</if>
		<if test="schType == 'userName' ">
			INSTR(user_nickname, #{kwd}) &gt; 0
		</if>
		<if test="schType == 'reg_date' ">
			(( TO_CHAR(noti_reg_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(noti_reg_date, 'YYYYMMDD') = #{kwd} ) OR
			( TO_CHAR(update_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(update_date, 'YYYYMMDD') = #{kwd} ))
		</if>
	</sql>
	
	<select id="noticeList" resultType="com.hs.model.admin.NoticeDTO">
		SELECT noti.notice_num notice_num,
				noti.state state,
				noti.noti_title noti_title,
				memb.USER_NICKNAME user_nickname,
				TO_CHAR(noti.noti_reg_date, 'YYYY-MM-DD') noti_reg_date,
				noti.noti_hitcount noti_hitcount,
				memb.user_level user_level
		FROM NOTICE noti, member memb
		<where>
			<if test="is_notice != null and is_notice != ''  ">
				is_notice = #{is_notice}
			</if>
			<if test="state != null and state != '' and state != 'null'">
				AND noti.state = #{state}
			</if>		
			<if test="kwd != null and kwd != ''">
				AND <include refid="where-list"/>
			</if>
				AND noti.USER_NUM = memb.USER_NUM
			<if test="user_level &lt;= 90 ">
				AND state = '공개'
			</if>
		</where>
        ORDER BY noti.noti_reg_date DESC, noti.notice_num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="noticeListTop" resultType="com.hs.model.admin.NoticeDTO">
		SELECT noti.notice_num notice_num,
				noti.state state,
				noti.noti_title noti_title,
				memb.USER_NICKNAME user_nickname,
				TO_CHAR(noti.noti_reg_date, 'YYYY-MM-DD') noti_reg_date,
				noti.noti_hitcount noti_hitcount
		FROM NOTICE noti, member memb
		WHERE noti.USER_NUM = memb.USER_NUM
        AND noti.state = '공개' AND noti.is_notice = '1'
        ORDER BY noti.noti_reg_date DESC, noti.notice_num DESC
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notice noti
		JOIN member memb ON noti.user_num = memb.user_num
		<where>
			<if test="is_notice != null and is_notice != ''  ">
				is_notice = #{is_notice}
			</if>		
			<if test="kwd != null and kwd != ''  ">
				AND <include refid="where-list"/>
			</if>
			<if test="state != null and state != '' and state != 'null'">
				AND noti.state = #{state}
			</if>	
			<if test="user_level &lt;= 90 ">
				AND state = '공개'
			</if>
		</where>
	</select>
	
	<delete id="noticeDelete" parameterType="Long">
		DELETE FROM notice
		WHERE notice_num = #{notice_num}
	</delete>
	
	<delete id="noticeDeleteList" parameterType="java.util.List">
		DELETE FROM notice
		WHERE notice_num IN
		<foreach collection="list" item="num" index="index"
			open="(" separator="," close=")">
			#{num}
		</foreach>
	</delete>
	
	<select id="findById" parameterType="Long" resultType="com.hs.model.admin.NoticeDTO">
	SELECT noti.notice_num,
       noti.user_num,
       memb.user_id,
       memb.user_nickname,
       noti.noti_title,
       noti.noti_content,
       noti.noti_reg_date,
       noti.update_date,
       noti.noti_hitCount,
       noti.is_notice,
       memb.user_updated_date,
       NVL(nolike.boardLikeCount, 0) AS boardLikeCount
		FROM notice noti
		INNER JOIN member memb ON noti.user_num = memb.user_num
		LEFT OUTER JOIN (
		    SELECT num, COUNT(*) AS boardLikeCount
		    FROM noticeLike
		    GROUP BY num		
		) nolike ON noti.notice_num = nolike.num
		WHERE noti.notice_num = #{num}
	</select>
	
	<insert id="noticeInsert" parameterType="com.hs.model.admin.NoticeDTO">
		INSERT INTO notice
		(
		    notice_num,
		    noti_title,
		    noti_content,
		    noti_hitcount,
		    noti_reg_date,
		    update_date,
		    state,
		    is_notice,
		    user_num
		)
		VALUES
		(
	       #{notice_num},
	       #{noti_title},
	       #{noti_content},
	       0,
	       SYSDATE,
	       SYSDATE,
	       #{state},
	       #{is_notice},
	       #{user_num}
		)
	</insert>
	
	<!-- 게시글 좋아요 추가 -->
	<insert id="insertBoardLike" parameterType="map">
		INSERT INTO noticeLike(num, userId, reg_date) VALUES(#{num}, #{userId}, SYSDATE)
	</insert>
	
	<!-- 게시글 좋아요 삭제 -->
	<delete id="deleteBoardLike" parameterType="map">
		DELETE FROM noticeLike
		WHERE num = #{num} AND userId = #{userId}
	</delete>
	
	<!-- 게시글의 좋아요 개수 -->
	<select id="boardLikeCount" parameterType="Long" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM noticeLike
		WHERE num = #{num}
	</select>
	
	<insert id="insertNoticeFile" parameterType="com.hs.model.admin.NoticeDTO">
		INSERT INTO noticeFile(fileNum, num, saveFilename, originalFilename, fileSize)
		VALUES (noticeFile_seq.NEXTVAL, #{notice_num}, #{saveFilename},
			#{originalFilename}, #{fileSize})
	</insert>
	
	<select id="findByFileId" parameterType="Long" resultType="com.hs.model.admin.NoticeDTO">
		SELECT fileNum, num, saveFilename, originalFilename, fileSize
		FROM noticeFile
	    WHERE fileNum = #{fileNum}
	</select>
	
	<select id="listNoticeFile" parameterType="Long" resultType="com.hs.model.admin.NoticeDTO">
		SELECT fileNum, num, saveFilename, originalFilename, fileSize
		FROM noticeFile
		WHERE num = #{num}    
	</select>
	
	<delete id="deleteNoticeFile" parameterType="map">
		DELETE FROM noticeFile
		WHERE ${field} = #{num}
	</delete>
	
	<update id="updateHitCount" parameterType="Long">
		UPDATE notice SET noti_hitCount = noti_hitCount + 1
		WHERE notice_num = #{num}
	</update>
	
	<select id="findByPrev" parameterType="map" resultType="com.hs.model.admin.NoticeDTO">
		SELECT notice_num, noti_title
		FROM notice n
		JOIN member m ON n.user_num = m.user_num
		<where>
			<if test="state != null and state != '' and state != 'null'">
				AND noti.state = #{state}
			</if>		
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (update_date &gt; TO_DATE(#{update_date}, 'YYYY-MM-DD HH24:MI:SS'))
		</where>
		ORDER BY update_date ASC, notice_num ASC
		FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 다음글 -->
    <select id="findByNext" parameterType="map" resultType="com.hs.model.admin.NoticeDTO">
		SELECT notice_num, noti_title
		FROM notice n
		JOIN member m ON n.user_num = m.user_num
		<where>
			<if test="state != null and state != '' and state != 'null'">
				AND noti.state = #{state}
			</if>		
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (update_date &lt; TO_DATE(#{update_date}, 'YYYY-MM-DD HH24:MI:SS'))
		</where>
		ORDER BY update_date DESC, notice_num DESC
		FETCH FIRST 1 ROWS ONLY
    </select>
    
    <update id="updateNotice" parameterType="com.hs.model.admin.NoticeDTO">
		UPDATE notice SET noti_title = #{noti_title}, noti_content = #{noti_content}, 
			is_notice = #{is_notice}, state = #{state}, 
			update_date = SYSDATE
		WHERE notice_num = #{notice_num}
	</update>
	<insert id="insertReply" parameterType="com.hs.model.admin.NoticeReplyDTO">
		INSERT INTO noticeReply
		(
			replyNum,
			num,
			userId,
			content,
			parentNum,
			showReply,
			reg_date,
			block,
			update_date
		)VALUES(
			noticeReply_seq.NEXTVAL,
			#{num}, 
			#{userId},
			#{content},
			#{parentNum}, 
			1,
			SYSDATE, 
			0,
			SYSDATE
		)
	</insert>
	
	<select id="listReply" parameterType="map" resultType="com.hs.model.admin.NoticeReplyDTO">
		SELECT r.replyNum, r.userId, user_nickname, num, 
			content, r.reg_date, showReply,
			NVL(answerCount, 0) answerCount,
			NVL(likeCount, 0) likeCount,
			NVL(disLikeCount, 0) disLikeCount
		FROM noticeReply r
		JOIN member m ON r.userId = m.user_Id
		LEFT OUTER JOIN
		(
			SELECT parentNum, COUNT(*) answerCount
			FROM noticeReply
			WHERE parentNum != 0 AND block = 0
			<if test="userLevel lt 5">
				AND ( showReply = 1 OR userId = #{userId} )
			</if>
			GROUP BY parentNum
		) a ON r.replyNum = a.parentNum
		
		LEFT OUTER JOIN
		(
			SELECT replyNum,
					COUNT(DECODE(ReplyLike, 1, 1)) likeCount,
					COUNT(DECODE(ReplyLike, 0, 1)) disLikeCount
			FROM noticeReplyLike
			GROUP BY replyNum
		) c ON r.replyNum = c.replyNum
		WHERE num = #{num} AND r.parentNum = 0 AND r.block = 0
		<if test="userLevel lt 5">
			AND ( showReply = 1 OR r.userId = #{userId} )
		</if>
		ORDER BY r.replyNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 유저의 댓글 좋아요 / 싫어요 여부 -->
	<select id="hasUserReplyLiked" parameterType="map" resultType="Integer">
		SELECT replyLike
		FROM  noticeReplyLike
		WHERE replyNum = #{replyNum} AND userId = #{userId}
	</select>
	
	<select id="replyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM noticereply
		WHERE num = #{num} AND parentNum = 0 AND block = 0 
		<if test="userLevel lt 5">
			AND ( showReply = 1 OR userId = #{userId} )
		</if>
	</select>
	
	<delete id="deleteReply" parameterType="map">
		DELETE FROM noticereply
		WHERE replyNum = #{replyNum}
		<if test="mode == 'reply'">
			OR parentNum = #{replyNum}
		</if>
	</delete>
	
	<update id="updateReplyShowHide" parameterType="map">
		UPDATE noticereply SET showReply = #{showReply}
		WHERE replyNum = #{replyNum} AND userId = #{userId}
	</update>
	
	<select id="listReplyAnswer" parameterType="map" resultType="com.hs.model.admin.NoticeReplyDTO">
		SELECT replyNum, num, r.userId, user_nickname, content, reg_date, parentNum, showReply
		FROM noticereply r
		JOIN member m ON r.userId = m.user_Id
		WHERE parentNum = #{parentNum}
		<if test="userLevel lt 5">
			AND ( showReply = 1 OR r.userId = #{userId})
		</if>
		ORDER BY replyNum DESC
	</select>
	
	<select id="replyAnswerCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM noticereply
		WHERE parentNum = #{parentNum} AND block = 0
		<if test="userLevel lt 5">
			AND ( showReply = 1 OR userId = #{userId})
		</if>
	</select>
	
	<!-- 유저의 게시글 좋아요 여부 -->
	<select id="hasUserBoardLiked" parameterType="map" resultType="com.hs.model.admin.NoticeDTO">
		SELECT num, userId
		FROM noticeLike
		WHERE num = #{num} AND userId = #{userId}
	</select>
	
	 <!-- 댓글 좋아요/싫어요 추가 -->
   <insert id="insertReplyLike" parameterType="map">
      INSERT INTO noticeReplyLike(replyNum, userId, replyLike)
      VALUES (#{replyNum}, #{userId}, #{replyLike})
   </insert>
   
	<!-- 댓글 좋아요 / 싫어요 개수 -->
	<select id="replyLikeCount" parameterType="map" resultType="map">
		SELECT COUNT(DECODE(ReplyLike, 1, 1)) likeCount,
		COUNT(DECODE(ReplyLike, 0, 1)) disLikeCount
		FROM noticeReplyLike
		WHERE replyNum = #{replyNum}
	</select>
</mapper>