<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.CommunityMapper">

	<insert id="insertCommunity" parameterType="com.hs.model.CommunityDTO">
		INSERT INTO COMMUNITY(community_id, com_name, com_description, is_private, user_num, category_id)
		VALUES(com_id_seq.NEXTVAL, #{com_name}, #{com_description}, #{is_private}, #{user_num}, #{category_id})
	</insert>
	
	<update id="updateCommunity" parameterType="com.hs.model.CommunityDTO">
		UPDATE community SET com_name = #{com_name}, com_description = #{com_description}, is_private = #{is_private}, 
			<if test="icon_image != null">icon_image = #{icon_image, jdbcType=VARCHAR},</if> 
			<if test="banner_image != null">banner_image = #{banner_image, jdbcType=VARCHAR},</if> category_id = #{category_id} 
		WHERE community_id = #{community_id}
	</update>
	
	<delete id="deleteFavorites" parameterType="map">
		DELETE FROM COMMUNITY_FAVORITES
		WHERE community_id = #{community_id} AND user_num = #{user_num}
	</delete>
	
	<delete id="deleteFollow" parameterType="map">
		DELETE FROM COMMUNITY_FOLLOW
		WHERE community_id = #{community_id} AND user_num = #{user_num}
	</delete>
	
	<delete id="deleteCommunity" parameterType="Long">
		DELETE FROM community 
		WHERE community_id = #{community_id}
	</delete>
	
	<select id="checkJoinCommunity">
		SELECT COUNT(*) from community_follow
		WHERE community_id = #{community_id} AND user_num = #{user_num}
	</select>
	
	<insert id="joinCommunity" parameterType="map">
		INSERT INTO community_follow(community_id, user_num)
		VALUES(#{community_id}, #{user_num})
	</insert>
	
	<update id="memberAddCount">
		UPDATE COMMUNITY SET member_count = member_count + 1 
		WHERE community_id = #{community_id}
	</update>
	
	<delete id="leaveCommunity" parameterType="map">
		DELETE FROM community_follow 
		WHERE community_id = #{community_id} AND user_num = #{user_num}
	</delete>
	
	<update id="memberRemoveCount">
		UPDATE COMMUNITY SET member_count = member_count - 1 
		WHERE community_id = #{community_id}
	</update>
	
	<select id="checkFavorite" parameterType="map" resultType="int">
		SELECT COUNT(*) from community_favorites
		WHERE community_id = #{community_id} AND user_num = #{user_num}
	</select>
	
	<insert id="addFavorite" parameterType="map">
		INSERT INTO community_favorites(community_id, user_num)
		VALUES(#{community_id}, #{user_num})
	</insert>
	
	<delete id="removeFavorite" parameterType="map">
		DELETE FROM community_favorites 
		WHERE community_id = #{community_id} AND user_num = #{user_num}
	</delete>
	
	<select id="getCategoryList" resultType="com.hs.model.CommunityDTO">
		SELECT category_id, category_name
		FROM COMMUNITY_CATEGORY
	</select>
	
	<select id="selectManagementList" parameterType="map" resultType="com.hs.model.CommunityDTO">
	    SELECT 
	        c.community_id, c.com_name, c.com_description, c.icon_image, c.banner_image, c.is_private, 
	        c.member_count, c.post_count, TO_CHAR(c.created_date, 'YYYY-MM-DD') created_date, 
	        c.today_visit, c.total_visit, c.user_num, c.category_id
	    FROM community c
	    <choose>
	        <when test="mode == 'favOnly'">
	            INNER JOIN community_favorites f ON c.community_id = f.community_id
	            WHERE f.user_num = #{user_num}
	        </when>
			<otherwise>
				WHERE c.user_num = #{user_num}
					OR c.community_id IN (
						SELECT community_id FROM community_follow 
						WHERE user_num = #{user_num}
						UNION
           				SELECT community_id FROM community_favorites 
           				WHERE user_num = #{user_num}
					)
		    </otherwise>
		</choose>
		
		ORDER BY c.community_id DESC
	</select>
	
	<select id="getPopularCategoryList" resultType="com.hs.model.CommunityDTO">
		SELECT * FROM (
			SELECT cc.category_id, cc.category_name, SUM(c.member_count) total_member_count
			FROM COMMUNITY_CATEGORY cc
			JOIN COMMUNITY c ON cc.category_id = c.category_id
			WHERE c.is_private = '0'
			GROUP BY cc.category_id, cc.category_name
			ORDER BY total_member_count DESC, cc.category_name ASC
		) WHERE ROWNUM &lt;= 5
	</select>
	
	<select id="selectCommunityList" parameterType="map" resultType="com.hs.model.CommunityDTO">
	    SELECT 
	        c.*, 
	        (SELECT COUNT(*) 
	         FROM community_follow f 
	         WHERE f.community_id = c.community_id AND f.user_num = #{user_num}) is_follow
	    FROM (
	        SELECT community_id, com_name, com_description, icon_image, banner_image, 
	               is_private, member_count, post_count, created_date, today_visit, 
	               total_visit, user_num, category_id
	        FROM COMMUNITY
	        <where>
	            is_private = '0'
	            <if test="keyword != null and keyword != ''">
	                AND com_name LIKE '%' || #{keyword} || '%'
	            </if>
	            <if test="category_id != null and category_id != ''">
	                AND category_id = #{category_id}
	            </if>
	        </where>
	        ORDER BY member_count DESC
	    ) c
	    WHERE ROWNUM &lt;= 100
	</select>
	
	<select id="findByName" parameterType="String" resultType="com.hs.model.CommunityDTO">
		SELECT community_id, com_name, com_description, icon_image, banner_image, is_private, 
			member_count, post_count, TO_CHAR(created_date, 'YYYY-MM-DD') created_date, 
			today_visit, total_visit, user_num, category_id
		FROM COMMUNITY 
		WHERE com_name = #{com_name}
	</select>
	
	<select id="findById" parameterType="map" resultType="com.hs.model.CommunityDTO">
		SELECT community_id, com_name, com_description, icon_image, banner_image, is_private, 
			member_count, post_count, TO_CHAR(created_date, 'YYYY-MM-DD') created_date, 
			today_visit, total_visit, user_num, category_id,
			(SELECT COUNT(*) FROM community_favorites
			 WHERE community_id = COMMUNITY.community_id AND user_num = #{user_num}) is_favorite
		FROM COMMUNITY 
		WHERE community_id = #{community_id}
	</select>
	
</mapper>