<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.FollowMapper">
    <insert id="followApply" parameterType="map">
		INSERT INTO follow 
		(
			follow_id,
			req_id,
			add_id,
			register_date
		)
        VALUES 
        (
	        follow_seq.NEXTVAL, 
	        #{reqId}, 
	        #{addId}, 
	        SYSDATE
        )
    </insert>
    
    <select id="followCount" parameterType="com.hs.model.FollowDTO">
    select COUNT(*) AS count
	from follow
	where req_id = #{reqId}
	and add_id = #{addId}
    </select>
    
    <delete id="followDelApply" parameterType="map">
    delete from follow
	where req_id = #{reqId}
	and add_id = #{addId}
    </delete>
    
    <select id="followerCount" parameterType="Long" resultType="Integer">
    	select COUNT(*)
    	from follow
    	where add_id = #{userNum}
    </select>
    
    <select id="followingCount" parameterType="Long" resultType="Integer">
    	select COUNT(*)
    	from follow
    	where req_id = #{userNum}
    </select>
</mapper>