<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.FollowMapper">
    <insert id="followApply" parameterType="map">
		INSERT INTO follow 
		(
			follow_id,
			req_id,
			add_id,
			register_date
		)
        VALUES 
        (
	        follow_seq.NEXTVAL, 
	        #{reqId}, 
	        #{addId}, 
	        SYSDATE
        )
    </insert>
    
    <select id="followCount" parameterType="map" resultType="Integer">
    select COUNT(*) AS count
	from follow
	where req_id = #{reqId}
	and add_id = #{addId}
    </select>
    
    <delete id="followDelApply" parameterType="map">
    delete from follow
	where req_id = #{reqId}
	and add_id = #{addId}
    </delete>
    
    <select id="followerCount" parameterType="Long" resultType="Integer">
    	select COUNT(*)
    	from follow
    	where add_id = #{userNum}
    </select>
    
    <select id="followingCount" parameterType="Long" resultType="Integer">
    	select COUNT(*)
    	from follow
    	where req_id = #{userNum}
    </select>
    
     <select id="getUserFollowList" parameterType="map" resultType="com.hs.model.FollowDTO">
	    SELECT
	        f.follow_id AS followId,
	        f.req_id AS reqId,
	        f.add_id AS addId,
	        f.register_date AS registerDate,
	        m.user_id AS userId,
	        m.user_nickname AS userNickname,
	        m.user_profile AS userProfile
	    FROM follow f
	    <choose>
	        <when test="type == 'following'">
	            JOIN member m ON f.add_id = m.user_num
	            WHERE f.req_id = #{userNum}
	        </when>
	        <otherwise>
	            JOIN member m ON f.req_id = m.user_num
	            WHERE f.add_id = #{userNum}
	        </otherwise>
	    </choose>
	    
	    <choose>
	        <when test="mode == 'modal'">
	            ORDER BY m.user_nickname ASC
	        </when>
	        <otherwise>
	            ORDER BY f.register_date DESC
	        </otherwise>
	    </choose>
	
	    <if test="mode != 'modal'">
	        OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	    </if>
	</select>
	
</mapper>