<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.MemberMapper">

	<select id="loginMember" parameterType="map" resultType="com.hs.model.MemberDTO">
		SELECT 
			user_id AS memberIdx,   username AS userId,     password AS userPwd,    nickname AS userName,   email,
			created_at AS register_date
		FROM users
		WHERE username = #{userId} AND password = #{userPwd}
	</select>
	
	<insert id="insertMember" parameterType="com.hs.model.MemberDTO">
		INSERT INTO users (
			user_id, 
			username, 
			password, 
			email, 
			nickname, 
			status, 
			created_at
		) VALUES (
			users_seq.NEXTVAL, 
			#{userId},      #{userPwd},     #{email},       #{userName},    'ACTIVE',       SYSDATE         )
	</insert>
	
</mapper>