<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.MemberMapper">

	<select id="loginMember" parameterType="map" resultType="com.hs.model.MemberDTO">
		SELECT 
			user_num AS userIdx,
			user_id AS userId,
			user_pwd AS userPwd,
			user_name AS userName,
			user_nickname AS userNickname,
			user_level AS userLevel,
			user_profile AS profile_photo,
			user_status AS status
		FROM member
		WHERE user_id = #{userId} AND user_pwd = #{userPwd} AND user_status = 1
	</select>
	
	<insert id="insertMember" parameterType="com.hs.model.MemberDTO">
    INSERT INTO MEMBER (
        user_num, 
        user_id, 
        user_pwd, 
        user_name, 
        user_nickname, 
        user_birth, 
        user_email, 
        user_addr1, 
        user_addr2, 
        user_tel, 
        user_profile, 
        user_banner,
        user_zip
    ) VALUES (
        member_seq.NEXTVAL,
        #{userId}, 
        #{userPwd}, 
        #{userName}, 
        #{userNickname},
        #{birth}, 
        #{email, jdbcType=VARCHAR}, 
        #{addr1, jdbcType=VARCHAR}, 
        #{addr2, jdbcType=VARCHAR}, 
        #{tel, jdbcType=VARCHAR}, 
        #{profile_photo, jdbcType=VARCHAR}, 
        #{banner_photo, jdbcType=VARCHAR},
        #{zip}
    )
</insert>

	<select id="findById" parameterType="String" resultType="com.hs.model.MemberDTO">
		SELECT user_num AS userIdx, user_id AS userId, user_name AS userName, user_nickname AS userNickname, user_profile AS profile_photo
		FROM member
		WHERE userId = #{userId}
	</select>
	
	<select id="loginMember1" parameterType="map" resultType="com.hs.model.MemberDTO">
		SELECT memberIdx, userId, userPwd, userName, userLevel, register_date, modify_date
		FROM member1
		WHERE userId = #{userId} AND userPwd = #{userPwd} AND enabled = 1
	</select>
	
    <insert id="insertMember1" parameterType="com.hs.model.MemberDTO">
		INSERT INTO member1(memberIdx, userId, userPwd, userName, enabled, userLevel, 
					register_date, modify_date)
		VALUES (member_seq.NEXTVAL, #{userId}, #{userPwd}, #{userName}, 
			1, 1, SYSDATE, SYSDATE) 
    </insert>
	
</mapper>