<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.MemberMapper">

	<select id="loginMember" parameterType="map" resultType="com.hs.model.MemberDTO">
		SELECT 
			user_num AS userIdx,
			user_id AS userId,
			user_pwd AS userPwd,
			user_name AS userName,
			user_nickname AS userNickname,
			user_level AS userLevel,
			user_profile AS profile_photo,
			user_status AS status
		FROM member
		WHERE user_id = #{userId} AND user_pwd = #{userPwd} AND user_status = 1
	</select>
	
	<insert id="insertMember" parameterType="com.hs.model.MemberDTO">
    INSERT INTO MEMBER (
        user_num, 
        user_id, 
        user_pwd, 
        user_name, 
        user_nickname, 
        user_birth, 
        user_email, 
        user_addr1, 
        user_addr2, 
        user_tel, 
        user_profile, 
        user_banner,
        user_zip
    ) VALUES (
        member_seq.NEXTVAL,
        #{userId}, 
        #{userPwd}, 
        #{userName}, 
        #{userNickname},
        #{birth}, 
        #{email}, 
        #{addr1, jdbcType=VARCHAR}, 
        #{addr2, jdbcType=VARCHAR}, 
        #{tel, jdbcType=VARCHAR}, 
        #{profile_photo, jdbcType=VARCHAR}, 
        #{banner_photo, jdbcType=VARCHAR},
        #{zip, jdbcType=VARCHAR}
    )
</insert>

	<insert id="insertLoginlog" parameterType="Long">
		INSERT INTO log_login (login_num, login_usernum, login_time)
		VALUES (log_login_seq.NEXTVAL, #{userNum}, SYSDATE)
	</insert>
	
	<insert id="insertNotiOption" parameterType="Long">
		INSERT INTO notification_options(user_num, allow_like, allow_comment, allow_follow, allow_repost, updated_date)
		VALUES(#{userNum}, 1, 1, 1, 1, SYSDATE)
	</insert>

	<select id="findById" parameterType="String" resultType="com.hs.model.MemberDTO">
		SELECT user_num AS userIdx, 
		user_id AS userId, 
		user_name AS userName, 
		user_nickname AS userNickname, 
		user_level AS userLevel,
		user_created_date AS createdDate,
		user_updated_date AS updatedDate,
		last_login_date AS lastLoginDate,
		user_birth AS birth,
		user_email AS email,
		user_addr1 AS addr1, 
        user_addr2 AS addr2,
        user_tel AS tel, 
		user_profile AS profile_photo,
		user_banner AS banner_photo,
		user_status AS status
		FROM member
		WHERE user_id = #{userId}
	</select>
	
	<select id="findByIdx" parameterType="Long" resultType="com.hs.model.MemberDTO">
		SELECT user_num AS userIdx, 
		user_id AS userId, 
		user_pwd AS userPwd,
		user_name AS userName, 
		user_nickname AS userNickname, 
		user_level AS userLevel,
		user_created_date AS createdDate,
		user_updated_date AS updatedDate,
		last_login_date AS lastLoginDate,
		user_birth AS birth,
		user_email AS email,
		user_addr1 AS addr1, 
        user_addr2 AS addr2,
        user_tel AS tel, 
		user_profile AS profile_photo,
		user_banner AS banner_photo,
		user_status AS status
		FROM member
		WHERE user_num = #{userIdx}
	</select>
	
	<select id="checkId" parameterType="String" resultType="Integer">
    	SELECT COUNT(*) 
    	FROM member 
    	WHERE user_id = #{userId}
	</select>
	
	<select id="checkNickname" parameterType="String" resultType="Integer">
    	SELECT COUNT(*) 
    	FROM member 
    	WHERE user_nickname = #{userNickname}
	</select>
	
	<select id="findId" parameterType="map" resultType="String">
    	SELECT user_id 
    	FROM member 
    	WHERE user_name = #{userName} AND user_email = #{email, jdbcType=VARCHAR}
	</select>
	
	<select id="findUserNum" parameterType="map" resultType="Long">
    	SELECT user_num
    	FROM member 
    	WHERE user_id = #{userId} AND user_name = #{userName} AND user_email = #{email, jdbcType=VARCHAR}
	</select>
	
	<update id="updatePwd" parameterType="map">
		UPDATE member 
		SET user_pwd = #{userPwd} 
		WHERE user_num = #{userNum}
	</update>

	<update id="updateProfile" parameterType="map">
		UPDATE member
		SET user_profile = #{userProfile, jdbcType=VARCHAR}
		WHERE user_num = #{userNum}
	</update>

	<update id="updateBanner" parameterType="map">
		UPDATE member
		SET user_banner = #{userBanner, jdbcType=VARCHAR}
		WHERE user_num = #{userNum}
	</update>

	<update id="updateMember" parameterType="map">
		UPDATE member
		<set>
			user_name = #{userName},
			user_nickname = #{userNickname},
			user_birth = #{birth},

			<if test="tel != null and tel != ''">
				user_tel = #{tel},
			</if>
			<if test="zip != null and zip != ''">
				user_zip = #{zip},
			</if>
			<if test="addr1 != null and addr1 != ''">
				user_addr1 = #{addr1},
			</if>
			<if test="addr2 != null">
				user_addr2 = #{addr2}
			</if>
		</set>
		WHERE user_num = #{userNum}
	</update>
	
	<update id="updateLastLoginDate" parameterType="Long">
		UPDATE member 
		SET last_login_Date = SYSDATE 
		WHERE user_num = #{userNum}
	</update>
	
	<select id="loginMember1" parameterType="map" resultType="com.hs.model.MemberDTO">
		SELECT memberIdx, userId, userPwd, userName, userLevel, register_date, modify_date
		FROM member1
		WHERE userId = #{userId} AND userPwd = #{userPwd} AND enabled = 1
	</select>
	
    <insert id="insertMember1" parameterType="com.hs.model.MemberDTO">
		INSERT INTO member1(memberIdx, userId, userPwd, userName, enabled, userLevel, 
					register_date, modify_date)
		VALUES (member_seq.NEXTVAL, #{userId}, #{userPwd}, #{userName}, 
			1, 1, SYSDATE, SYSDATE) 
    </insert>
    
    <select id="getPostCount" parameterType="Long">
    	SELECT COUNT(*)
    	FROM posts
    	WHERE user_num = #{userNum} AND is_deleted = '0'
    </select>
    
    <select id="getReplyCount" parameterType="Long">
    	SELECT COUNT(*)
    	FROM comments
    	WHERE user_num = #{userNum} AND is_deleted = '0'
    </select>
	
</mapper>