<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.PostMapper">

	<insert id="insertPost" parameterType="com.hs.model.PostDTO">
		INSERT INTO posts (
		post_id, user_num, community_id, title, content,
		post_type,
		is_deleted,
		created_date, state,
		reply_enabled, show_counts )
		VALUES (
		posts_seq.NEXTVAL,
		#{userNum}, #{communityId,
		jdbcType=INTEGER},
		#{title}, #{content}, #{postType},
		'0', SYSTIMESTAMP,
		#{state},
		#{replyEnabled}, #{showCounts} )
		<selectKey keyProperty="postId" resultType="long"
			order="AFTER">
			SELECT posts_seq.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<update id="updatePost" parameterType="com.hs.model.PostDTO">
		UPDATE posts
		SET title =
		#{title},
		content = #{content},
		updated_date = SYSTIMESTAMP,
		state =
		#{state},
		reply_enabled = #{replyEnabled}, show_counts = #{showCounts}
		WHERE post_id =
		#{postId} AND user_num = #{userNum}
	</update>

	<select id="findById" parameterType="long"
		resultType="com.hs.model.PostDTO">
		SELECT
		p.post_id AS postId,
		p.user_num AS userNum,
		p.community_id AS communityId,
		p.title,
		p.content,
		p.post_type AS
		postType,
		p.view_count AS viewCount,
		p.like_count AS likeCount,
		p.created_date AS createdDate,
		p.updated_date AS updatedDate,
		p.state,
		p.reply_enabled AS replyEnabled,
		p.show_counts AS showCounts,
		u.user_nickname AS authorNickname,

		NULL AS authorProfileImage

		FROM posts p
		JOIN member u ON p.user_num = u.user_num
		WHERE p.post_id
		= #{postId}
	</select>

	<select id="listPost" resultType="com.hs.model.PostDTO">
		SELECT
		p.post_id AS postId,
		p.user_num AS userNum,
		p.title,
		p.view_count AS viewCount,
		p.like_count AS likeCount,
		p.created_date AS createdDate,
		u.user_nickname AS authorNickname,
		NULL AS authorProfileImage
		FROM posts p
		JOIN member u ON
		p.user_num = u.user_num
		WHERE p.is_deleted =
		'0'
		ORDER BY p.post_id DESC
	</select>

	<insert id="insertFileAt" parameterType="com.hs.model.FileAtDTO">
		INSERT INTO FILEAT (
		file_at_id, file_name, file_path, file_size,
		file_type, file_order, uploaded_date, post_id
		) VALUES (
		fileat_seq.NEXTVAL, #{fileName}, #{filePath}, #{fileSize},
		#{fileType}, #{fileOrder}, SYSTIMESTAMP, #{postId}
		)
	</insert>
	
	<update id="updateHitCount" parameterType="long">
		UPDATE posts
		SET view_count = view_count + 1
		WHERE post_id = #{postId}
	</update>

	<select id="listFileAt" parameterType="long" resultType="com.hs.model.FileAtDTO">
		SELECT 
			file_at_id AS fileAtId,
			file_name AS fileName,
			file_path AS filePath,
			file_size AS fileSize,
			file_type AS fileType,
			file_order AS fileOrder,
			uploaded_date AS uploadedDate,
			post_id AS postId
		FROM FILEAT
		WHERE post_id = #{postId}
		ORDER BY file_order ASC
	</select>
</mapper>