<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.SettingMapper">

	<select id="listLikedPost" parameterType="map" resultType="com.hs.model.PostDTO">
        SELECT
        	l.post_id AS postId,
        	l.user_num AS userNum,
        	m.user_nickname AS authorNickname,
        	p.title,
        	p.content,
        	p.created_date AS createdDate,
        	f.file_path AS thumbnail
    	FROM likes l
    	LEFT OUTER JOIN posts p ON l.post_id = p.post_id
    	LEFT OUTER JOIN member m ON l.user_num = m.user_num
    	LEFT OUTER JOIN fileat f ON p.post_id = f.post_id
    	WHERE l.user_num = #{userNum}
    	AND p.is_deleted = '0'
    	ORDER BY l.post_id DESC
    	OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
    </select>
    
    <select id="totalCountLikedPost" parameterType="Long" resultType="Integer">
        SELECT COUNT(*)
    	FROM likes l
    	LEFT OUTER JOIN posts p ON l.post_id = p.post_id
    	WHERE l.user_num = #{userNum}
    	AND p.is_deleted = '0'
    </select>
    
    <select id="getFilePath" parameterType="Long" resultType="String">
	    SELECT file_path
		FROM fileat
		WHERE post_id = #{postId} AND file_order = 0 
    </select>

	<select id="getMyReply" parameterType="map" resultType="com.hs.model.ReplyDTO">
		SELECT
			c.post_id AS postId,
			c.comment_id AS commentId,
			c.user_num AS userNum,
			c.content AS content,
			c.created_date AS createdDate,
			c.depth AS depth,
			c.parent_comment_id AS parentCommentId,
			pc.user_num AS parentUserNum,
			m.user_nickname AS parentUserNickname,
			pc.content AS parentCommentContent,
			pc.created_date AS parentCommentCreatedDate
		FROM (
			SELECT
				post_id,
				comment_id,
				user_num,
				content,
				parent_comment_ID,
				created_date,
				is_deleted,
				LEVEL AS depth
			FROM comments
			START WITH parent_comment_id IS NULL
			CONNECT BY PRIOR comment_id = parent_comment_id
			ORDER SIBLINGS BY created_date DESC
		) c 
		LEFT OUTER JOIN comments pc ON c.parent_comment_id = pc.comment_id
		LEFT OUTER JOIN member m ON pc.user_num = m.user_num
		WHERE c.user_num = #{userNum} AND c.is_deleted = '0'
		ORDER BY c.created_date DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="totalCountMyComment" parameterType="Long" resultType="Integer">
        SELECT COUNT(*)
    	FROM comments
    	WHERE user_num = #{userNum}
    	AND is_deleted = '0'
    </select>
	
</mapper>